<?xml version="1.0"?>

<robot name="amiibot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Argument to enable simulation mode (disables real hardware) -->
    <xacro:arg name="is_simulation" default="false"/>

    <!-- Base model -->
    <xacro:include filename="$(find amiibot_description)/urdf/amiibot_base.xacro"/>
    
    <!-- Gazebo plugins and sensors (only for simulation) -->
    <xacro:include filename="$(find amiibot_description)/urdf/amiibot_gazebo.xacro"/>
    
    <!-- ROS2 Control: conditional between sim and real hardware -->
    <xacro:include filename="$(find amiibot_description)/urdf/amiibot_ros2_control.xacro" />
    
</robot>